<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SignUpSuite" parallel="false">
    <test name="SignUpTests">
        <classes>
            <class name="tests.SignUpTest"/>
            <class name="tests.SignUpNegativeTest"/>
        </classes>
    </test>
</suite>
